html
{
  overflow:hidden;
}
body
{
  background-color:#f1f1f1;
}
table
{
  width:920px;
  margin:0px 20px 20px 20px;
  border-spacing:0px;
}
td, th
{
  cursor:move;
  border:1px solid #eee;
  padding:2px;
}
th
{
  padding:0px;
}
td:hover, th:hover
{
  background-color:#fafafa;
}
td.null
{
  cursor:move;
  border:1px solid #eee;
  padding:0px;
}
div.shadow
{
  width:0px;
  height:0px;
  float:left;
}
div#selectdisplay
{
  width:320px;
  position:fixed;
  top:120px;
  right:20px;
  background-color:#fff;
}
div.selectdisplaykeyheader,div.selectdisplayvalheader
{
  width:320px;
  line-height:30px;
  text-indent:15px;
  background-color:#3498db;
  color:#fff;
  text-align:left;
}
div.selectdisplayvalheader
{
  background-color:#2ecc71;
}
select.plate
{
  width:auto;
  height:35px;
  margin:10px 0px 10px 10px;
  text-indent:0px;
  border:none;
  outline:none;
  float:left;
  background-color:#ecf0f1;
}
input.submit
{
  height:35px;
  margin:10px;
  border:none;
  outline:none;
  padding:0px 10px;
  float:left;
  color:#fff;
  cursor:pointer;
  background-color:#3498db;
}
form#filebar
{
  width:100%;
  height:55px;
  line-height:55px;
  margin:0px;
  background-color:#fff;
  float:left;
  z-index:3;
  position:fixed;
  top:100px;
  left:0px;
}
div.clearbutton
{
  height:35px;
  margin:10px 10px 10px 0px;
  border:none;
  line-height:35px;
  outline:none;
  padding:0px 10px;
  float:left;
  color:#fff;
  background-color:#e74c3c;
  font-size:13px;
}
div#spreadsheet_main
{
  color:#000;
  font-size:15px;
  font-family:Arial;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  position:fixed;
  top:155px;
  left:0px;
  background-color:#fff;
}
div#spacer
{
  width:39px;
  height:23px;
  border-top:1px solid #bbb;
  border-right:1px solid #bbb;
  border-bottom:1px solid #bbb;
  position:fixed;
  top:155px;
  z-index:4;
  background-color:#eee;
}
div#col_holder
{
  height:23px;
  line-height:25px;
  background-color:#F3F3F3;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  position:fixed;
  left:40px;
  top:155px;
  z-index:2;
}
div.col_item
{
  height:23px;
  cursor:pointer;
  cursor:-webkit-grab;
  border-right:1px solid #bbb;
}
div#row_holder
{
  width:39px;
  line-height:25px;
  background-color:#F3F3F3;
  border-right:1px solid #bbb;
  position:fixed;
  left:0px;
  top:180px;
  z-index:2;
}
div.row_item
{
  width:39px;
  height:24px;
  cursor:pointer;
  cursor:-webkit-grab;
  border-bottom:1px solid #bbb;
}
div.col_item:hover,div.row_item:hover
{
  background-color:#ddd;
}
div.col_item:active,div.row_item:active
{
  cursor:-webkit-grabbing;
}
canvas#container
{
  float:left;
  background-color:#fff;
}
div#spreadsheet_holder
{
  overflow:auto;
  position:fixed;
  top:180px;
  left:40px;
}
diV#menubar
{
  width:100%;
  height:24px;
  background-color:#f3f3f3;
  position:fixed;
  bottom:0px;
  left:0px;
  line-height:24px;
  border-top:1px solid #bbb;
  z-index:2;
}
div#menubar_mouse
{
  width:100px;
  height:24px;
  padding:0px 5px;
  text-align:left;
  border-right:1px solid #bbb;
}
div#contextmenu
{
  width:200px;
  background-color:#fff;
  position:absolute;
  z-index:100;
  border:1px solid #eee;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}
div.contextmenu_item,div.contextmenu_item_disabled
{
  width:195px;
  height:30px;
  padding-left:5px;
  line-height:30px;
  cursor:pointer;
  text-align:left;
}
div.contextmenu_item:hover
{
  background-color:#f3f3f3;
}
div.contextmenu_item_disabled
{
  cursor:default;
  background-color:#fafafa;
  color:#999;
}
div#toolbar
{
  width:100%;
  height:0px;
  background-color:#fff;
  position:fixed;
  bottom:25px;
  z-index:2;
  overflow:hidden;
}
div#toolbar_resizebar
{
  width:auto;
  height:23px;
  float:none;
  cursor:row-resize;
  overflow:hidden;
}
div#toolbar_holder
{
  width:100%;
  height:190px;
}
div.toolbar_row
{
  width:100%;
  min-height:40px;
  border-bottom:1px solid #eee;
}
input.toolbar_input,select.toolbar_select
{
  float:left;
  margin:5px;
  padding:5px 5px 4px 5px;
  height:20px;
  width:175px;
  outline:none;
  border:none;
  border-bottom:1px solid #bbb;
}
input.toolbar_input:hover,select.toolbar_select:hover
{
  background-color:#fafafa;
}
select.toolbar_select
{
  width:75px;
  height:30px;
}
div#menubar_selection_mode
{
  width:125px;
  height:25px;
  padding:0px 5px;
  text-align:left;
  border-right:1px solid #bbb;
  cursor:pointer;
}
div.delete_button
{
  width:25px;
  height:20px;
  margin:10px 5px 5px 10px;
  line-height:20px;
  background-color:#e74c3c;
  border-bottom:5px solid #c0392b;
  color:#fff;
  cursor:pointer;
}
div#toolbar_button
{
  width:25px;
  height:25px;
  cursor:pointer;
  background-image:url(http://localhost/img/nav.png);
  background-size:17px 17px;
  background-position:center;
  background-repeat:no-repeat;
  border-right:1px solid #bbb;
}
div.up_button,div.down_button
{
  width:25px;
  height:20px;
  margin:10px 5px 5px 10px;
  line-height:20px;
  background-color:#ecf0f1;
  border-bottom:5px solid #bdc3c7;
  color:#666;
  cursor:pointer;
}
div#toolbar_tabs
{
  width:100%;
  height:23px;
  line-height:23px;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  background-color:#f3f3f3;
}
div.toolbar_tab_item
{
  height:21px;
  padding:0px 10px;
  padding-bottom:2px;
  border-right:1px solid #bbb;
  cursor:pointer;
}
div.toolbar_tab_item:hover
{
  padding-bottom:0px;
  background-color:#e3e3e3;
  border-bottom:2px solid #3498db;
}
div#toolbar_holders
{
  width:100%;
  overflow-y:auto;
}
div.toolbar_holder
{
  width:100%;
  height:0px;
  overflow:hidden;
}
