table.list
{
  width:960px;
  color:#fff;
  border-spacing:0px;
  text-align:left;
  margin-bottom:20px;
}
table.list tbody
{
  text-align:center;
}
tr.item
{
  background-color:#fff;
}
tr.item:hover
{
  background-color:#fafafa;
}
table.list th, td
{
  padding:10px;
}
table.list th
{
  background-color:#555;
}
table.list td
{
  color:#000;
  border-bottom:1px solid #ddd;
}
table.list caption
{
  background-color:#3498db;
  text-align:left;
  padding:20px;
}
table.list a
{
  padding:4px 10px;
  color:#fff;
  background-color:#3498db;
  border-radius:4px;
  margin:0px 6px;
  font-size:14px;
  border-top:3px solid #3498db;
  border-right:2px solid #2980b9;
  border-bottom:3px solid #2980b9;
  border-left:2px solid #2980b9;
}
table.list a:hover
{
  border-top:3px solid #2980b9;
  border-right:2px solid #2980b9;
  border-bottom:3px solid #3498db;
  border-left:2px solid #2980b9;
}
table.list td.pass
{
  color:#fff;
  background-color:#2ecc71;
  border-bottom:1px solid #27ae60;
  border-right:1px solid #27ae60;
}
table.list td.fail
{
  background-color:#e74c3c;
  color:#fff;
  border-bottom:1px solid #c0392b;
  border-right:1px solid #c0392b;
}
table.list td.due_safe
{
  background-color:#2ecc71;
  color:#fff;
  border-bottom:1px solid #27ae60;
  border-right:1px solid #27ae60;
}
table.list td.due_warning
{
  background-color:#f1c40f;
  color:#fff;
  border-bottom:1px solid #f39c12;
  border-right:1px solid #f39c12;
}
table.list td.due_late
{
  background-color:#e74c3c;
  color:#fff;
  border-bottom:1px solid #c0392b;
  border-right:1px solid #c0392b;
}
div.noticemessage
{
  width:960px;
  height:50px;
  line-height:50px;
  background-color:#2FCC71;
  color:#fff;
}
table.viewermodule
{
  width:960px;
  border-spacing:0px;
  border-collapse:collapse!important;
}
table.viewermodule tr
{
  border-bottom:1px solid #555;
  background-color:#fff;
}
table.viewermodule tr:hover
{
  background-color:#ddd;
}
table.viewermodule td,table.viewermodule th
{
  padding:10px;
  color:#000;
  text-align: left;
  border:1px solid #333;
}
table.viewermodule th
{
  background-color:#3498db;
  color:#fff;
}
div.viewermodulenav
{
  width:960px;
  height:60px;
  line-height:60px;
  margin-bottom:20px;
  background-color:#fff;
  border-bottom:2px solid #ddd;
}
div.viewermodulenavitem,div.viewermodulenavitemdelete
{
  width:240px;
  height:60px;
  line-height:60px;
  cursor:pointer;
}
div.viewermodulenavitemmain
{
  width:220px;
  height:40px;
  margin:10px;
  line-height:40px;
  background-color:#3498db;
  color:#fff;
  border-radius:5px;
}
div.viewermodulenavitemdelete:hover
{
  border-bottom:2px solid #e74c3c;
  color:#e74c3c;
}
div.viewermodulenavitem:hover
{
  border-bottom:2px solid #3498db;
  color:#3498db;
}
table.dataTable
{
  margin:10px 0px;
}
div.dt-buttons
{
  margin-bottom:10px;
}
div.dataTables_filter
{
  margin:10px 0px;
}
div.page
{
  margin-right:480px;
}
body
{
  overflow-x:hidden;
}
div#toolbarpagenumber
{
  width:100px;
  height:50px;
  line-height:50px;
  color:#fff;
  font-size:20px;
  background-color:#3498db;
  position:fixed;
  bottom:0px;
  right:0px;
}
div#toolbarnavleft,div#toolbarnavright
{
  width:75px;
  height:50px;
  cursor:pointer;
  background-color:#3498db;
  color:#fff;
  line-height:50px;
  font-size:20px;
  position:fixed;
  bottom:0px;
}
div#toolbarnavleft
{
  top:50%;
  left:0px;
}
div#toolbarnavright
{
  top:50%;
  right:0px;
}
div#toolbarnavleft:hover,div#toolbarnavright:hover
{
  background-color:#5BA2E0;
}
form.searchmodule
{
  width:960px;
  height:360px;
  margin:0px 0px 20px 0px;
  background-color:#fff;
}
div.searchmoduleheader
{
  width:920px;
  height:20px;
  margin-bottom:20px;
  line-height:20px;
  padding:20px;
  text-align:left;
  color:#fff;
  background-color:#3498db;
}
div.searchmodulelabel
{
  width:215px;
  height:35px;
  line-height:35px;
  margin:0px 20px 20px 20px;
  background-color:#fff;
  color:#3498db;
  box-shadow:0px 0px 1px #aaa;
}
select.searchmodule,input.searchmodule
{
  width:215px;
  height:35px;
  float:left;
  margin:0px 0px 20px 0px;
  border:none;
  outline:none;
  background-color:#eee;
  text-indent:10px;
}
input.searchmodulebutton
{
  width:920px;
  height:40px;
  border:none;
  outline:none;
  background-color:#3498db;
  color:#fff;
  margin:0px 20px 20px 20px;
}
