.RadMenu {
	POSITION: relative; WHITE-SPACE: nowrap; FLOAT: left
}
.RadMenu .rmRootGroup {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 0px; LEFT: 0px
}
* HTML .RadMenu .rmRootGroup {
	FLOAT: left
}
.RadMenu:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: ""
}
.RadMenu .rmRootGroup:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: ""
}
.RadMenu UL.rmVertical {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; FLOAT: left; PADDING-TOP: 0px; LEFT: 0px
}
.rmRootGroup UL.rmHorizontal {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; FLOAT: left; PADDING-TOP: 0px; LEFT: 0px
}
.rmContextMenu UL.rmHorizontal {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; FLOAT: left; PADDING-TOP: 0px; LEFT: 0px
}
.rmSized UL.rmVertical {
	WIDTH: 100%
}
.rmSized .rmRootGroup .rmVertical {
	WIDTH: auto
}
.RadMenu .rmItem {
	LIST-STYLE: none none outside; POSITION: relative; FLOAT: left
}
* HTML .RadMenu .rmItem {
	DISPLAY: inline
}
.RadMenu .rmHorizontal .rmItem {
	CLEAR: none
}
.RadMenu .rmVertical .rmItem {
	CLEAR: both
}
.rmSized .rmVertical .rmItem {
	WIDTH: 100%
}
.rmSized .rmRootGroup .rmVertical .rmItem {
	WIDTH: auto
}
.RadMenu UL.rmActive {
	DISPLAY: block
}
.RadMenu UL.rmRootGroup {
	DISPLAY: block
}
.RadMenu .rmSlide {
	POSITION: absolute; DISPLAY: none; FLOAT: left; OVERFLOW: hidden
}
.rmContextMenu {
	POSITION: absolute; DISPLAY: none; FLOAT: left; OVERFLOW: hidden
}
* HTML .RadMenu .rmSlide {
	HEIGHT: 1px
}
* HTML .rmContextMenu {
	HEIGHT: 1px
}
.rmContextMenu {
	Z-INDEX: 1000; OVERFLOW: visible
}
.RadMenu .rmText {
	DISPLAY: block
}
.RadMenu DIV.rmText {
	WHITE-SPACE: normal
}
.RadMenu A.rmLink {
	DISPLAY: block; CURSOR: default
}
.rmScrollWrap {
	POSITION: absolute; FLOAT: left; OVERFLOW: hidden; LEFT: 0px
}
.RadMenu .rmLeftArrow {
	Z-INDEX: 2000; POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -1000em; FONT-SIZE: 0px; OVERFLOW: hidden
}
.RadMenu .rmTopArrow {
	Z-INDEX: 2000; POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -1000em; FONT-SIZE: 0px; OVERFLOW: hidden
}
.RadMenu .rmBottomArrow {
	Z-INDEX: 2000; POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -1000em; FONT-SIZE: 0px; OVERFLOW: hidden
}
.RadMenu .rmRightArrow {
	Z-INDEX: 2000; POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -1000em; FONT-SIZE: 0px; OVERFLOW: hidden
}
.RadMenu .rmLeftArrowDisabled {
	LINE-HEIGHT: 0; TEXT-INDENT: -1000em; DISPLAY: none; FONT-SIZE: 0px
}
.RadMenu .rmTopArrowDisabled {
	LINE-HEIGHT: 0; TEXT-INDENT: -1000em; DISPLAY: none; FONT-SIZE: 0px
}
.RadMenu .rmBottomArrowDisabled {
	LINE-HEIGHT: 0; TEXT-INDENT: -1000em; DISPLAY: none; FONT-SIZE: 0px
}
.RadMenu .rmRightArrowDisabled {
	LINE-HEIGHT: 0; TEXT-INDENT: -1000em; DISPLAY: none; FONT-SIZE: 0px
}
.RadMenu .rmBottomArrow {
	MARGIN-BOTTOM: -1px
}
.RadMenu .rmBottomArrowDisabled {
	MARGIN-BOTTOM: -1px
}
.RadMenu .rmLeftImage {
	BORDER-RIGHT-WIDTH: 0px; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.rmRtl {
	TEXT-ALIGN: right; FLOAT: right
}
.rmRtl UL.rmHorizontal {
	FLOAT: right
}
.rmRtl UL.rmVertical {
	FLOAT: right
}
.rmRtl .rmItem {
	FLOAT: right
}
.rmRtl .rmLeftImage {
	BORDER-RIGHT-WIDTH: 0px; FLOAT: right; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.rmRtlContext .rmLeftImage {
	BORDER-RIGHT-WIDTH: 0px; FLOAT: right; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.rmRtl .rmLeftArrow {
	TEXT-INDENT: 1000em !important
}
.rmRtl .rmTopArrow {
	TEXT-INDENT: 1000em !important
}
.rmRtl .rmBottomArrow {
	TEXT-INDENT: 1000em !important
}
.rmRtl .rmRightArrow {
	TEXT-INDENT: 1000em !important
}
.rmRtl .rmLeftArrowDisabled {
	TEXT-INDENT: 1000em !important
}
.rmRtl .rmTopArrowDisabled {
	TEXT-INDENT: 1000em !important
}
.rmRtl .rmBottomArrowDisabled {
	TEXT-INDENT: 1000em !important
}
.rmRtl .rmRightArrowDisabled {
	TEXT-INDENT: 1000em !important
}
.RadMenu .rmLink {
	WIDTH: auto
}
.RadMenu .rmSeparator {
	LINE-HEIGHT: 0; FONT-SIZE: 0px; OVERFLOW: hidden
}
.RadMenu .rmSeparator:after {
	LINE-HEIGHT: 0; FONT-SIZE: 0px; OVERFLOW: hidden
}
.RadMenu DIV.rmRootGroup {
	POSITION: relative
}
