.newsbox {
	POSITION: relative; MIN-HEIGHT: 280px; HEIGHT: 280px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.sf_newsList .sf_newsTitle {
	MARGIN: 0px; FONT-SIZE: 1em !important
}
.sf_newsList .sf_newsTitle A {
	PADDING-LEFT: 40px
}
.sf_newsList .sf_newsDate {
	MARGIN: 0px; PADDING-LEFT: 40px; FONT-SIZE: 10px !important
}
.sf_newsList P {
	MARGIN: 0px; PADDING-LEFT: 40px; FONT-SIZE: 11px !important
}
.sf_newsist LI {
	MARGIN-BOTTOM: 1px !important
}
UL.rmRootGroup.rmHorizontal {
	BORDER-BOTTOM-STYLE: none !important; PADDING-BOTTOM: 10px; BORDER-LEFT-STYLE: none !important; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none !important; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-RIGHT-STYLE: none !important; PADDING-TOP: 10px
}
.rmText {
	COLOR: #fff !important; FONT-SIZE: 12px !important; FONT-WEIGHT: bold !important
}
.rmSlide > .rmGroup > .rmItem > .rmLink > .rmText {
	COLOR: black !important; FONT-SIZE: 10px !important; FONT-WEIGHT: normal !important
}
