table
{
  width:920px;
  margin:0px 20px 20px 20px;
  border-spacing:0px;
}
td, th
{
  cursor:move;
  border:1px solid #eee;
  padding:2px;
}
th
{
  padding:0px;
}
td:hover, th:hover
{
  background-color:#fafafa;
}
td.null
{
  cursor:move;
  border:1px solid #eee;
  padding:0px;
}
div.shadow
{
  width:0px;
  height:0px;
  float:left;
}
div#selectdisplay
{
  width:320px;
  position:fixed;
  top:120px;
  right:20px;
  background-color:#fff;
}
div.selectdisplaykeyheader,div.selectdisplayvalheader
{
  width:320px;
  line-height:30px;
  text-indent:15px;
  background-color:#3498db;
  color:#fff;
  text-align:left;
}
div.selectdisplayvalheader
{
  background-color:#2ecc71;
}
