form#uploadmodule {
    width:960px;
    margin:0px;
    background-color:#fff;
    text-align:left;
    float:left;
}
div#uploadheader
{
    width:960px;
    height:70px;
    line-height:70px;
    font-size:30px;
    color:#fff;
    background-color:#3498db;
}
div#uploadbar
{
  width:920px;
  margin:20px;
  text-align:left;
}
div.label
{
  width:180px;
  height:35px;
  margin-right:20px;
  line-height:35px;
  background-color:#3498db;
  color:#fff;
}
select.plate
{
  width:720px;
  height:35px;
  text-indent:7px;
  border:none;
  outline:none;
  margin-bottom:20px;
  background-color:#fafafa;
  border-bottom:5px solid #eee;
}
input#uploadsubmit
{
  width:920px;
  height:35px;
  color:#fff;
  background-color:#3498db;
  border:none;
  outline:none;
  font-family:'Roboto', sans-serif;
  font-size:16px;
}
table.excel
{
  width:920px;
  margin:20px;
  border-collapse:collapse;
}
table.excel td
{
  height:35px;
  line-height:35px;
  padding:0px 20px;
}
table.excel tr
{
  cursor:pointer;
}
table.excel tr:hover
{
  background-color:#3498db;
  color:#fff;
}
table.excel td:hover
{
  text-decoration:underline;
}
div.notif-g,div.notif-b,div.notif-r
{
  width:920px;
  height:35px;
  margin:0px 20px 20px 20px;
  line-height:35px;
  text-align:center;
  background-color:#2ecc71;
  color:#fff;
}
div.notif-b
{
  background-color:#3498db;
}
div.notif-r
{
  background-color:#e74c3c;
}
